<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", (event) => {
      const confirmation = confirm(`Deletar? {{teacher.name}}`)
      if(!confirmation) {
        event.preventDefault()
      }
    })
</script>